
<photos-list class="photos-list"/>

<site-overlay id="slideshow">
  <slideshow-photos class="photos-slideshow">
    <slideshow-progress>
      <slideshow-progress-bar></slideshow-progress-bar>
      <slideshow-progress-stats></slideshow-progress-stats>
    </slideshow-progress>
  </slideshow-photos>
  
  <slideshow-nav class="photos-slideshow-nav-container">
    <div class="photos-slideshow-nav">
      <slideshow-nav-previous><a>&#x2190;</a></slideshow-nav-previous>
      <slideshow-nav-close><a>&times;</a></slideshow-nav-close>
      <slideshow-nav-next><a>&#x2192;</a></slideshow-nav-next>
    </div>
  </slideshow-nav>
</site-overlay>

