<div class="photos-list">
  {% for photo in site.data['flickr-photos'] %}
    <photos-list-photo class="photo aspect-ratio-box" data-id="{{ photo.id }}" data-background-image="{{ photo.url_s }}">
      <a href="{{ photo.flickr_page_url }}">
        <img class="lazy-load" alt="{{ photo.title | smartify }}" data-src="{{ photo.url_s }}"/>
      </a>
    </photos-list-photo>
  {% endfor %}
</div>

<site-overlay id="slideshow">
  <!-- <template> -->
    <slideshow-photos class="photos-slideshow">
      {% for photo in site.data['flickr-photos'] %}
        <slideshow-photo class="photo photo-hidden" data-id="{{ photo.id }}" data-url-o="{{ photo.url_o }}" data-background-image="{{ photo.url_o }}">
          <img src="{{ photo.url_s }}" alt="{{ photo.title | smartify }}"/>
        </slideshow-photo>
      {% endfor %}
    </slideshow-photos>
    <!-- add photo number/total -->
    <slideshow-nav class="photos-slideshow-nav-container">
      <ul class="photos-slideshow-nav">
        <li class="previous"><a>&#x2190;</a></li>
        <li class="close"><a>&times;</a></li>
        <li class="next"><a>&#x2192;</a></li>
      </ul>
    </slideshow-nav>
  <!-- </template> -->
</site-overlay>

