
<photos-list class="photos-list">
  <!-- {% for photo in site.data['flickr-photos'] %}
    <photos-list-photo class="photo aspect-ratio-box" data-id="{{ photo.id }}" data-background-image="{{ photo.url_s }}">
      <a href="{{ photo.flickr_page_url }}">
        <img class="lazy-load" alt="{{ photo.title | smartify }}" alt="{{ photo.title | smartify }}" data-src="{{ photo.url_s | relative_url }}"/>
      </a>
    </photos-list-photo>
  {% endfor %} -->
</photos-list>

<site-overlay id="slideshow">
  <slideshow-photos class="photos-slideshow"/>
  <!-- add photo number/total -->
  <slideshow-nav class="photos-slideshow-nav-container"/>
</site-overlay>

