
<photos-list-hoc class="photos-list">
  <!-- <div class="backup-photos">
    {% for photo in site.data['flickr-photos'] limit:7 %}
      <a href="{{ photo.flickr_page_url }}" title="{{ photo.title }}" target="_blank">
        <img src="{{ photo.url_s }}" alt="{{ photo.title }}"/>
      </a>
    {% endfor %}
  </div>
  <a href="https://www.flickr.com/photos/pixelsnob" title="{{ photo.title }}" target="_blank">More photos on my Flickr page</a> -->
</photos-list-hoc>

<site-overlay-hoc>
  <slideshow-photos class="slideshow-photos" slot="overlay-content">
    <slideshow-progress-hoc slot="progress">
      <slideshow-progress-bar-hoc slot="progress-bar"></slideshow-progress-bar-hoc>
      <slideshow-progress-stats-hoc slot="progress-stats"></slideshow-progress-stats-hoc>
    </slideshow-progress-hoc>
    <slideshow-nav-hoc slot="nav">
      <div class="photos-slideshow-nav" slot="nav-links">
        <slideshow-nav-link-hoc data-action="previous"><a slot="nav-link">&#x2190;</a></slideshow-nav-link-hoc>
        <slideshow-nav-link-hoc data-action="close"><a slot="nav-link">&times;</a></slideshow-nav-link-hoc>
        <slideshow-nav-link-hoc data-action="next"><a slot="nav-link">&#x2192;</a></slideshow-nav-link-hoc>
      </div>
    </slideshow-nav-hoc>
  </slideshow-photos>
</site-overlay-hoc>

