
<photos-list class="photos-list">
  <!-- <div class="backup-photos">
    {% for photo in site.data['flickr-photos'] limit:7 %}
      <a href="{{ photo.flickr_page_url }}" title="{{ photo.title }}" target="_blank">
        <img src="{{ photo.url_s }}" alt="{{ photo.title }}"/>
      </a>
    {% endfor %}
  </div>
  <a href="https://www.flickr.com/photos/pixelsnob" title="{{ photo.title }}" target="_blank">More photos on my Flickr page</a> -->
</photos-list>

<site-overlay id="slideshow">
  <slideshow-photos class="slideshow-photos">
    <slideshow-progress>
      <slideshow-progress-bar></slideshow-progress-bar>
      <slideshow-progress-stats></slideshow-progress-stats>
    </slideshow-progress>
    <slideshow-nav>
      <div class="photos-slideshow-nav">
        <slideshow-nav-link data-action="previous"><a>&#x2190;</a></slideshow-nav-link>
        <slideshow-nav-link data-action="close"><a>&times;</a></slideshow-nav-link>
        <slideshow-nav-link data-action="next"><a>&#x2192;</a></slideshow-nav-link>
      </div>
    </slideshow-nav>
  </slideshow-photos>
  
 
</site-overlay>

