
.photos-list {
  margin: 0;
  padding: 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  
  .photo {
    margin: 0;
    list-style: none;
    padding-top: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
    
    span {
      opacity: 1;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.6;
      }
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        
      }
    }
  }
  .photo-hidden {
    display: none;
  }
}

.slideshow-photos {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100000000px;
  position: relative;
  padding-top: 3vh;
  left: 0;
  slideshow-photo {
    position: absolute;
    width: 100vw;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    img {
      max-height: 85vh;
      @media (max-width: $breakpoint-md) and (orientation: portrait) {
        max-height: 80vh;
      }
      max-width: 100vw;
      object-fit: contain;
      overflow: hidden;
      display: inline;
    }
    &.photo-visible {
      visibility: visible;
      opacity: 1;
    }
  }
  
  slideshow-nav {
    position: fixed;
    bottom: 16px;
    // @media (max-width: $breakpoint-md) and (orientation: portrait) {
    //   bottom: 56px;
    // }
    height: 60px;
    z-index: 550;
    width: 100vw;
    opacity: 1;
    transition: opacity 0.5s ease;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    &.photos-slideshow-nav-container-hidden {
      opacity: 0;
      bottom: -100000px;
    }
  
    .photos-slideshow-nav {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    slideshow-nav-link, slideshow-nav-close {
      width: 33%;
      list-style-type: none;
      height: 100%;
      position: relative;
      bottom: 0;
      
      a {
        text-transform: uppercase;
        height: 100%;
        display: inline-block;
        width: 100%;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        //border: 1px solid transparent;
        &:hover {
          color: inherit;
          //border: 1px solid #333;
        }
      }
      
      // &[data-action="previous"] a:hover {
      //   border-left-color: transparent;
      // }
      // &[data-action="next"] a:hover {
      //   border-right-color: transparent;
      // }
  
    }
  }
  
  slideshow-progress {
    position: fixed;
    bottom: 0px;
    height: 25px;
    width: 100%;
    background-color: #111;
    z-index: 1100;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    z-index: 600;
    slideshow-progress-bar {
      position: absolute;
      height: 17px;
      top: 4px;
      left: 0;
      background-color: #333;
      z-index: 1100;

    }
    slideshow-progress-stats {
      position: absolute;
      width: 80px;
      height: 20px;
      line-height: 2;
      display: block;
      top: 0px;
      left: calc(50% - 40px);
      color: #888;
      font-size: 0.8rem;
      white-space: nowrap;
      text-align: center;
      z-index: 1100;

    }
    &:hover {
      background-color: #444;
      slideshow-progress-bar {
        background-color: #777;
      }
      slideshow-progress-stats {
        color: white;
      }
    }
  }
}


