
body {
  background-color: #fffefd;
  padding: 30px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-weight: 400;
  position: relative;
  height: 100%;
  @media (max-width: $breakpoint-md) {
    padding: 12px;
  }
  //border: 1px solid red;
  &.no-scroll {
    overflow: hidden;
  }
}

strong {
  color: #444;
}

p, li, div {
  font-size: 1.2rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
  //border-bottom: 1px solid #ccc;
  //border: none;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  &:link, &:hover, &:active, &:visited {
    font-weight: bold;
    color: #eb4034;
  }
  &:hover {
    color: #f48061;
    text-decoration: underline;
  }
}

hr {
  background: #ccc;
}

img {
  width: 100%;
}

header .site-nav {
  margin-top: 40px; 
}

// header {
//   text-align: center;
// }

.github-logo {
  display: block;
  opacity: 0.5;
  width: 30px;
  //position: absolute;
  bottom: 0;
}

.site-container {
  display: grid;
  grid-template-columns: 22vw 48vw;
  column-gap: 5vw;
  justify-content: center;
  //border: 1px solid red;

  @media (max-width: $breakpoint-lg) {
    display: block;
  }
}

.site-content {
  position: relative;
}

.tags-list {
  padding: 0;
}

.tag {
  list-style-type: none; 
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 4px 7px;
  margin-right: 2px;
  margin-bottom: 4px;
  //color: #555;
}

.lazy-load {
  display: hidden;
  opacity: 0;  
}

.lazy-loaded {
  display: block;
  opacity: 1;
  transition: opacity 1s;
}

@media screen {
  .print {
    display: none;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 11pt;
    color: #777
  }

  .site-header, .site-footer, .no-print {
    display: none;
  }
}

