---
---

@import "{{ site.theme }}";

@media print {
  body {
    padding: 0.4in;
    font-size: 11pt;
    color: #777
  }
}

body, html {
  color: #666;
}

strong {
  color: #444;
}

.content-right {
  width: auto;
  float: none;
}

.header-left {
  width: auto;
  float: none;
}

@media screen {
  p, li {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2.1rem;
    border: none;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

a:link, a:hover, a:active {
  font-weight: bold;
}

img {
  width: 100%;
}

