<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include site-head.html %}
  <body>
    <script>

      customElements.define('site-overlay', SiteOverlay);
      customElements.define('slideshow-photo', SlideshowPhoto);
      customElements.define('slideshow-photos', SlideshowPhotos);
      customElements.define('slideshow-nav', SlideshowNav);
      customElements.define('photos-list-photo', PhotosListPhoto);

    </script>

    <div class="site-container">
      <header class="site-header">
        <h1><a href="{{ "/" | absolute_url }}">pixelsnob.com</a></h1>
        <!-- <nav class="site-nav">
          {% include site-nav.html %}
        </nav> -->
      </header>
      <section class="site-content-container">
        {% unless page.exclude %}
          <h2>{{ page.title }}</h2>
        {% endunless %}
        <div class="site-content">
          {{ content }}
        </div>
        <!--<p><a class="back-to-top-link no-print" href="javascript:window.scrollTo(0, 0);void(0);">Back to top</a></p>-->
      </section>
      <footer>
        
      </footer>
    </div>
    {% include site-overlay.html %}
    <script>
      const preloadImages = function(imagePaths) {
        return new Promise((resolve, reject) => {
          let loadedCount = 0;
          imagePaths.forEach(imagePath => {
            const img = new Image;
            img.onload = () => {
              loadedCount++;
              if (loadedCount == imagePaths.length) {
                resolve();
                //console.log('sdasd')
              }
            }
            img.src = imagePath;
          })
        })
      };
      
    </script>
    <script src="{{ "/assets/js/events.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/lazy-load-background-images.js" | relative_url }}"></script>
    
  </body>
</html>
