<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include site-head.html %}
  <body>
    <script>
      
      class PhotosListPhoto extends HTMLElement {
        constructor() {
          super();
          //console.log('?');
        }

        connectedCallback() {
          this.addEventListener('click', evt => {
            evt.preventDefault();
            document.querySelector('.site-overlay').classList.add('site-overlay-visible');
            document.querySelector('.site-overlay').appendChild(document.getElementById('slideshow-template').content.cloneNode(true));
            const slideshowPhoto = document.querySelector(`slideshow-photo[data-id="${this.dataset.id}"]`);
            if (slideshowPhoto) {
              slideshowPhoto.active = true;
            }
          });
        }
      }

      class SlideshowPhoto extends HTMLElement {
        constructor() {
          super();
          this.addEventListener('click', evt => {
            evt.preventDefault();
          });
        }

        static get observedAttributes() {
          return [ 'active' ];
        }

        get active() {
          return this.getAttribute('active');
        }

        set active(newValue) {
          this.setAttribute('active', newValue);
        }

        attributeChangedCallback(name, oldValue, newValue) {
          switch (name) {
            case 'active':
              //console.log(`Value changed from ${oldValue} to ${newValue}`);
              this.classList.add('photo-visible');
              const img = new Image;
              img.src = this.dataset.backgroundImage;
              img.className = 'img-hidden';
              this.appendChild(img);
              img.onload = (evt) => {
                
                img.className = 'img-active';

              };
              break;
          }
        }
      }
      
      customElements.define('slideshow-photo', SlideshowPhoto);
      customElements.define('photos-list-photo', PhotosListPhoto);

    </script>
    <div class="site-container">
      <header class="site-header">
        <h1><a href="{{ "/" | absolute_url }}">pixelsnob.com</a></h1>
        <!-- <nav class="site-nav">
          {% include site-nav.html %}
        </nav> -->
      </header>
      <section class="site-content-container">
        {% unless page.exclude %}
          <h2>{{ page.title }}</h2>
        {% endunless %}
        <div class="site-content">
          {{ content }}
        </div>
        <!--<p><a class="back-to-top-link no-print" href="javascript:window.scrollTo(0, 0);void(0);">Back to top</a></p>-->
      </section>
      <footer>
        
      </footer>
    </div>
    <div class="site-overlay"></div>
    <script>
      const preloadImages = function(imagePaths) {
        return new Promise((resolve, reject) => {
          let loadedCount = 0;
          imagePaths.forEach(imagePath => {
            const img = new Image;
            img.onload = () => {
              loadedCount++;
              if (loadedCount == imagePaths.length) {
                resolve();
                //console.log('sdasd')
              }
            }
            img.src = imagePath;
          })
        })
      };
      
    </script>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/lazy-load-background-images.js" | relative_url }}"></script>
    
  </body>
</html>
