<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include site-head.html %}
  <body>
    <div class="wrapper">
      <header class="site-header">
        <h1><a href="{{ "/" | absolute_url }}">pixelsnob.com</a></h1>
        <p>Luis A. Echeverria's Personal Blog</p>
        {% include site-nav.html %}
      </header>
      <section class="site-content">

      {{ content }}

      </section>
      <footer>
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
