

body {
  background-color: black;
  font: 14px/1.5 "noto_sans_regular", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  @media (max-width: 768px) {
    padding: 12px;
  }
  &.no-scroll {
    overflow: hidden;
  }
  line-height: 1.65;
}

p,
li,
div {
  font-size: 1.4rem;
}

strong {
  font-family: "noto_sans_bold";
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.7rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "noto_sans_bold";
}

a {
  &:link,
  &:hover,
  &:active,
  &:visited {
    font-weight: bold;
    color: #fff;
  }
  // &:hover {
  //   text-decoration: underline;
  // }
  &[target="_blank"]::after {
    content: "↗";
    text-decoration: none !important;
    margin: 0 3px 0 5px;
    display: inline-block;
    font-size: 1rem;
  }
  font-family: "noto_sans_bold";
}

hr {
  background: #ccc;
}

img {
  width: 100%;
}

// header .main-nav {
//   margin-top: 40px;
// }

.main-header {
  padding-bottom: 25px;
}

.main-container {
  display: grid;
  text-align: center;
  @media (max-width: 992px) {
    display: block;
  }
}

.main-home-link {
  font-size: 2.4rem;
}

.main-content-container {
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
}

.unindented-list {
  padding: 0;
  li {
    list-style-type: none;
    margin-bottom: 25px;
  }
}

.tags-list {
  padding: 0;
}

.tag {
  list-style-type: none;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 4px 7px;
  margin-right: 2px;
  margin-bottom: 4px;
}

.lazy-load {
  display: hidden;
  opacity: 0;
}

.lazy-loaded {
  display: block;
  opacity: 1;
  transition: opacity 1s;
}

@media screen {
  .print {
    display: none;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 11pt;
    color: #777;
  }

  .main-header,
  .main-footer,
  .no-print {
    display: none;
  }
}


/* Effects */

.rainbow-shadowbox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  // border: 3px solid;
}

.rainbow {
  &:link,
  &:hover,
  &:active,
  &:visited {
    background: linear-gradient(
      to right,
      #6666ff,
      #0099ff,
      #00ff00,
      #ff3399,
      #6666ff
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 10s ease-in-out infinite;
    background-size: 400% 100%;
  }
}

@keyframes rainbow-animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}